[Unit]
Description=Prometheus Node Exporter
Documentation=https://github.com/prometheus/node_exporter
After=network.target

[Service]
Type=simple
User={{ node_exporter_user }}
Group={{ node_exporter_group }}
ExecStart={{ node_exporter_binary_path }} --web.listen-address=:{{ node_exporter_port }}
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target

